
body{
   margin: 0;
   font-family: 'Bebas Neue', cursive;
   
}
/* .background-div{
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover; 
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Nav bar Content */
header a {
  text-decoration: none;
}


header {
  padding: 0 20px;
  background-color: #cecece;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;

}

.logo{
  width: 18%;
}

.intro {
  position: relative;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1em;
}


#brand a {
  color: #0077B6;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: #0077B6;
  
}

ul li {
  padding: 5px;
  margin-left: 20px;
  
  
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #0077B6;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}


/* Main page Content */
.slidePic {
  border-radius: 20%;
  display: block;
  padding: 25px ;
  width: 100%;
  height: 30rem;
  margin: auto;
}

.main-text{
  padding-top: 40px;
  font-size: 30px;

}

.main-content{
 padding:30px;

}

.services{
  width: 100%;
  margin-top: 30px;
  background-color: #0077B6;
}

#service-heading{
 font-size: 3.2rem;
 text-align: center;
 margin-bottom: 20px;
}

#service-pic{
  width: 15rem;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#service-h3{
  font-size:2rem;
}

#services-text{
 margin-right: 20px;
 margin-left: 20px;
}

.centered-text{
text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

.column2x2{
  float: left;
  width: 50%;
}

.zoom:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.top-column{
    float: left;
    width: 50%;
}

.top-row:after{
  content: "";
  display: table;
  clear: both;
}

.zoom:hover{
  transform: scale(1.1);
  transition: 0.3s;
}


/* Media Queries */
@media only screen and (max-width: 780px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

.pet-information{
  width: 100%;
  margin-top: 30px;
  background-color: #0077B6;
}

.profile-picture{
  border-radius: 20%;
  display: block;
  padding: 25px ;
  height: 30rem;
  width: 30rem
}

@media  only screen and (max-width: 780px){
  .profile-picture{
    margin: auto;
  }
  .column2x2{
    display:contents
  }

}

