body {
  font-family: "Georama", sans-serif;
  display: flex;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Nav bar Content */
header a {
  text-decoration: none;
  width: 100%;
}

header {
  padding: 0 20px;
  background-color: #55468d;
  height: 65px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.logo {
  width: 18%;
}

.intro {
  position: relative;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1em;
}

#brand a {
  color: #00a6ff;
}

.brand-h1 {
  font-size: 1.2rem;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: #ffffff;
}

ul li {
  padding: 5px;
  margin-left: 20px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #00a6ff;
}

#signup {
  border: 1px solid #00a6ff;
}

#signup a {
  color: #00a6ff;
}

#login a {
  color: #00a6ff;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #00a6ff;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

/* Main page Content */
.top-bg-img {
  display: block;
  width: 100%;
  height: 30rem;
  background: linear-gradient(to left, transparent, rgb(245, 245, 245)),
    url("../img/slideIMG1.jpeg");
  background-size: cover;
}

.main-text {
  padding-left: 20px;
  padding-top: 40px;
  font-size: 30px;
  height: 100%;
}

.h3-main-page {
  font-size: 3rem;
  background: -webkit-linear-gradient(#0096c7, #48cae4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content {
  background-color: rgb(245, 245, 245);
  box-shadow: 0 4px 2px -2px rgb(172, 171, 171);
}

.services {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

#service-heading {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

#service-pic {
  width: 100%;
  height: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#service-h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}

#services-text {
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 300;
}

.service-subtitle {
  font-size: 1.3rem;
  padding-bottom: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

.centered-text {
  text-align: center;
}

.column {
  float: left;
  width: 30.33%;
  margin-right: 20px;
  margin-left: 20px;
  height: 32rem;
  box-shadow: 5px 10px 5px -5px lightblue;
  background-color: white;
}

.column2x2 {
  float: left;
  width: 40%;
}

.id-card-column {
  float: left;
  width: 30%;
  align-items: center;
  height: 200px;
  box-shadow: 10px 10px 10px -5px black;
  border-radius: 10%;
  margin: 20px;
  flex: 25%;
  padding-left: 1rem;
  padding-bottom: 10px;
  background: linear-gradient(lightblue, white);
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .id-card-column {
    width: 35%;
    min-width: 45%;
  }
  .pet-information {
    padding-left: 2%;
  }
}
@media only screen and (max-width: 820px) {
  .id-card-column {
    min-width: 80%;
    align-items: center;
    max-width: 70%;
  }
  .pet-information {
    padding-left: 7%;
  }
}

.id-card-column:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 5px 5px 5px 5px black;
}

.zoom:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 5px 5px 5px 5px lightblue;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.top-column {
  float: left;
  width: 50%;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.zoom:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.profile-picture {
  border-radius: 20%;
  display: block;
  padding: 25px;
  height: 30rem;
  width: 30rem;
}

/* Testemonials  */
.home-testimonial {
  background-color: #55468d;
  /* height: 380px */
  margin-top: 35px;
}

.home-testimonial-bottom {
  background-color: #f8f8f8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px;
}

.home-testimonial h3 {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.home-testimonial h2 {
  font-size: 38px;
  font-weight: 700;
  background: -webkit-linear-gradient(#0096c7, #48cae4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial-inner {
  position: relative;
  top: -174px;
}

.testimonial-pos {
  position: relative;
  top: 24px;
}

.testimonial-inner .tour-desc {
  border-radius: 5px;
  padding: 40px;
  height: 20rem;
}

.color-grey-3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: #6c83a2;
}

.testimonial-inner img.tm-people {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none;
}

.link-name {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: #6c83a2;
}

.link-position {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  color: #6c83a2;
}

@media only screen and (max-width: 780px) {
  .profile-picture {
    margin: auto;
  }

  .column2x2 {
    display: contents;
  }
}

footer {
}

/*Appointments page*/
:root {
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;

  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;

  --blue: #0000ff;
  --white: #fff;

  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var (--dark-second);
  --color-hover: var(--dark-text);
  --color-txt: var(--dark-text);
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var (--light-second);
  --color-hover: var(--light-text);
  --color-txt: var(--light-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#appspage {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--font-family);
}

/* Media Queries */
@media only screen and (max-width: 780px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

.pet-information {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  background-color: #55468d;
}

.bg-img {
  background-image: url("../img/pawprint.jpg");
}

.pet-info-container {
  margin-top: 50px;
}

.pet-info-text {
  text-align: left;
  display: inline;
  font-size: xx-large;
}

@media only screen and (max-width: 1200px) {
  .pet-info-text {
    font-size: x-large;
  }
  .pet-info-container {
    margin-left: 100px;
  }
  .qr-code {
    max-width: 6em;
    max-height: 6em;
  }
}

.profile-picture {
  border-radius: 20%;
  display: block;
  padding: 25px;
  height: 30rem;
  width: 30rem;
}

@media only screen and (max-width: 930px) {
  .profile-picture {
    max-width: 20rem;
    max-height: 20rem;
  }
}

.book-apt-button {
  margin-top: 1em;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
  background: linear-gradient(lightblue, white);
  border-width: 1px;
}

.qr-code {
  float: right;
  height: 10em;
  margin-right: 3em;
  margin-top: 2em;
}

.id-card-image {
  height: 80%;
  margin-top: 17px;
  margin-left: 10px;
}

.id-card-text {
  display: inline-block;
  align-items: center;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 5%;
}

.id-card-number {
  text-align: center;
  margin-right: 25px;
  background-color: lightblue;
}

.id-card-add {
  height: 60%;
  margin-top: 40px;
  margin-left: 30px;
}

.id-card-add-text {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 90px;
  margin-left: 10%;
}

@media only screen and (max-width: 1325px) {
  .column {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: inline-block;
  }

  .top-column {
    margin: none;
  }

  #service-pic {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 780px) {
  .profile-picture {
    margin: auto;
  }

  .column2x2 {
    display: contents;
  }

  .top-bg-img {
    display: none;
    margin-right: 0;
    background-color: none;
  }

  .main-text {
    text-align: center;
    margin-left: 150px;
    margin-right: 200px;
  }

  .column {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: inline-block;
  }

  .top-column {
    margin: none;
  }

  #service-pic {
    display: none;
  }
}
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
