
<%- include('../components/head') %>

<body>
  <!--Top Navigator-->
  <% let sessionStatus = loginStatus %>
  <%- include('../components/header', {loggedin: sessionStatus})%>
  <link rel="stylesheet" href="../style/about.css">

  <div class="top-row main-content">

    <div class="top-column main-text">
      <h2 style="font-size:4rem"> About Us <h2>
        Simply-pet is a web app designed to collate the most important features a pet owner will need into one app, to make pet owning simpler. 
        Brought by 6 passionate, pet-loving students. Our aim is to simplify tasks involved in day to day tasks involved
        when owning a pet, such as keeping track of and scheduling appointments, as well as keeping track of your pet information and live location, all in one place.
        We strive to continuously improve and develop new features within our service, tailoring the experience to your needs.

          </p>
    </div>
    <div class="top-column">
      <span class="top-bg-img-about"></span>
      <!-- <img id="slide" src="none" class="slidePic" alt="Social media logo Image slide"> -->
    </div>

  </div>
</div>
  <section>
    <div class="repository">
        <h1 class="title">Meet the Team</h1>
        <div class="card-wrapper">
            <div class="card">
                <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                <img src="img/filip.jpeg" alt="profile image" class = "profile-img">
                <h1>Filip</h1>
                <p  class ="job-title">Software Architecture</p>
                <p class="about">
                    Home Page
                </p>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                      <li><a class="facebook" href="https://www.facebook.com/simplypetuk"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="https://twitter.com/pet_simply"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="dribbble" href="https://www.instagram.com/simplypetuk/"><i class="fa fa-instagram"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                  </div>
            </div>
            <div class="card">
                <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                <img src="img/zofia.jpg" alt="profile image" class = "profile-img">
                <h1>Zofia</h1>
                <p  class ="job-title">Full Stack Developer</p>
                <p class="about">
                    Pet Passport Page
                </p>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                      <li><a class="facebook" href="https://www.facebook.com/simplypetuk"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="https://twitter.com/pet_simply"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="dribbble" href="https://www.instagram.com/simplypetuk/"><i class="fa fa-instagram"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                  </div>
            </div>
            <div class="card">
                <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                <img src="img/ed.jpg" alt="profile image" class = "profile-img">
                <h1>Ed</h1>
                <p  class ="job-title">Buisness Development</p>
                <p class="about">
                 Final Report
                </p>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                      <li><a class="facebook" href="https://www.facebook.com/simplypetuk"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="https://twitter.com/pet_simply"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="dribbble" href="https://www.instagram.com/simplypetuk/"><i class="fa fa-instagram"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                  </div>
            </div>
            <div class="card">
                <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                <img src="img/seb.jpeg" alt="profile image" class = "profile-img">
                <h1>Seb</h1>
                <p  class ="job-title">Buisness Strategist</p>
                <p class="about">
                    Final Report
                </p>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                      <li><a class="facebook" href="https://www.facebook.com/simplypetuk"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="https://twitter.com/pet_simply"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="dribbble" href="https://www.instagram.com/simplypetuk/"><i class="fa fa-instagram"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                  </div>
            </div>
            <div class="card">
                <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                <img src="img/omar.jpeg" alt="profile image" class = "profile-img">
                <h1>Omar</h1>
                <p  class ="job-title">Front End Developer</p>
                <p class="about">
                    Pet Tracker
                </p>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                      <li><a class="facebook" href="https://www.facebook.com/simplypetuk"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="https://twitter.com/pet_simply"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="dribbble" href="https://www.instagram.com/simplypetuk/"><i class="fa fa-instagram"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                  </div>
            </div>
            <div class="card">
                <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                <img src="img/riann.jpg" alt="profile image" class = "profile-img">
                <h1>Riann</h1>
                <p  class ="job-title">Back End Developer</p>
                <p class="about">
                    Appointment Page
                </p>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                      <li><a class="facebook" href="https://www.facebook.com/simplypetuk"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="https://twitter.com/pet_simply"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="dribbble" href="https://www.instagram.com/simplypetuk/"><i class="fa fa-instagram"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                  </div>
            </div>
        </div>
    </div>
    
</section>
    
    <%- include('../components/scriptsEnd') %>
    <%- include('../components/footer')  %>

    
  </body>
  
</html>
