<html>
<%- include('../components/head') %>
<body>
  <!--Top Navigator-->
  <% let sessionStatus = loginStatus %>
  <%- include('../components/header', {loggedin: sessionStatus})%>

  <div class="top-row main-content">

    <div class="top-column main-text" alt="Intro to simply pet. Main banner with information">
      <h2 style="font-size:4rem"> About Us <h2>
          
          Simply Pet connects pet owners to thousands of licenced veterinary surgeons & nurses ready to provide the best
          online vet services through video chat appointments 24/7.
          </p>
        </div>

        <section>
          <div class="repository">
              <h1 class="title">Meet the Team</h1>
              <div class="card-wrapper">
                  <div class="card">
                      <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                      <img src="img/filip.jpeg" alt="profile image" class = "profile-img">
                      <h1>Filip</h1>
                      <p  class ="job-title">Software Architecture</p>
                      <p class="about">
                          qaregshth
                      </p>
                  </div>
                  <div class="card">
                      <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                      <img src="img/zofia.jpg" alt="profile image" class = "profile-img">
                      <h1>Zofia</h1>
                      <p  class ="job-title">Full Stack Developer</p>
                      <p class="about">
                          qaregshth
                      </p>
                  </div>
                  <div class="card">
                      <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                      <img src="img/ed.jpg" alt="profile image" class = "profile-img">
                      <h1>Ed</h1>
                      <p  class ="job-title">Buisness Development</p>
                      <p class="about">
                          qaregshth
                      </p>
                  </div>
                  <div class="card">
                      <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                      <img src="img/seb.jpeg" alt="profile image" class = "profile-img">
                      <h1>Seb</h1>
                      <p  class ="job-title">Buisness Strategist</p>
                      <p class="about">
                          qaregshth
                      </p>
                  </div>
                  <div class="card">
                      <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                      <img src="img/omar.jpeg" alt="profile image" class = "profile-img">
                      <h1>Omar</h1>
                      <p  class ="job-title">Front End Developer</p>
                      <p class="about">
                          qaregshth
                      </p>
                  </div>
                  <div class="card">
                      <img src="img/pawprint.jpg" alt="card background" class = "card-img">
                      <img src="img/riann.jpg" alt="profile image" class = "profile-img">
                      <h1>Riann</h1>
                      <p  class ="job-title">Back End Developer</p>
                      <p class="about">
                          qaregshth
                      </p>
                  </div>
              </div>
          </div>  
      </section>

        <div class="top-column">
          <span class="top-bg-img-logo"></span>
          <!-- <img id="slide" src="none" class="slidePic" alt="Social media logo Image slide"> -->
        </div>
  
  <%- include('../components/scriptsEnd') %>
  <%- include('../components/footer')  %>
</body>
</html>