<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1">

<title>Simply Pet home page</title>
<meta name="description" content="Simply Pet landing page">
<meta name="author" content="GS Group">

<meta property="og:title" content="Simply Pet">
<meta property="og:type" content="website">
<meta property="og:description" content="Simply Pet, everything your pet needs">
<!-- <meta property="og:image" content="image.png"> -->

<link rel="icon" href="../img/logo.svg">
<link rel="icon" href="../img/logo.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="stylesheet" href="../style/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="../js/functions.js"></script>

</head>

<body>
    <!--Top Navigator-->
    <header>
        <div id="brand"><img src="../img/logo.svg" class="logo">
            <h1 class="brand-h1">Simply Pet</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="petpassport.html">Pet Passport</a></li>
                <li><a href="appointments.html">Appointments</a></li>
                <li><a href="pettracker.html">Pet Tracker</a></li>
                <li id="login"><a href="/login">Login</a></li>
                <li id="signup"><a href="/signup">Signup</a></li>
            </ul>
        </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="mobile-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="petpassport.html">Pet Passport</a></li>
                <li><a href="appointments.html">Appointments</a></li>
                <li><a href="pettracker.html">Pet Tracker</a></li>
                <li id="login"><a href="/login">Login</a></li>
                <li id="signup"><a href="/signup">Signup</a></li>
            </ul>
        </div>
    </header>
    
    <div class="calendar">

        <div class="col leftCol">
            <div class="content">
                <h1 class="date">Friday<span>February 12th</span></h1>
                <div class="notes">
                    <p>
                        <input type="text" value="" placeholder="new note" />
                        <a href="#" title="Add note" class="addNote animate">+</a>
                    </p>
                    <ul class="noteList">
                        <li>Peanut annual check<a href="#" title="Remove note" class="removeNote animate">x</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col rightCol">
            <div class="content">
                <h2 class="year">2022</h2>
                <ul class="months">
                    <li><a href="#" title="Jan" data-value="1">Jan</a></li>
                    <li><a href="#" title="Feb" data-value="2" class="selected">Feb</a></li>
                    <li><a href="#" title="Mar" data-value="3">Mar</a></li>
                    <li><a href="#" title="Apr" data-value="4">Apr</a></li>
                    <li><a href="#" title="May" data-value="5">May</a></li>
                    <li><a href="#" title="Jun" data-value="6">Jun</a></li>
                    <li><a href="#" title="Jul" data-value="7">Jul</a></li>
                    <li><a href="#" title="Aug" data-value="8">Aug</a></li>
                    <li><a href="#" title="Sep" data-value="9">Sep</a></li>
                    <li><a href="#" title="Oct" data-value="10">Oct</a></li>
                    <li><a href="#" title="Nov" data-value="11">Nov</a></li>
                    <li><a href="#" title="Dec" data-value="12">Dec</a></li>
                </ul>
                <div class="clearfix"></div>
                <ul class="weekday">
                    <li><a href="#" title="Mon" data-value="1">Mon</a></li>
                    <li><a href="#" title="Tue" data-value="2">Tue</a></li>
                    <li><a href="#" title="Wed" data-value="3">Wed</a></li>
                    <li><a href="#" title="Thu" data-value="4">Thu</a></li>
                    <li><a href="#" title="Fri" data-value="5">Fri</a></li>
                    <li><a href="#" title="Say" data-value="6">Sat</a></li>
                    <li><a href="#" title="Sun" data-value="7">Sun</a></li>
                </ul>
                <div class="clearfix"></div>
                <ul class="days">
                    <script>
                        for (var j = 1; j <= 31; j += 1) {
                            var addClass = '';
                            if (j === 12) { addClass = ' class="selected"'; }

                            switch (j) {
                                case 8:
                                case 10:
                                case 27:
                                    addClass = ' class="event"';
                                    break;
                            }
                            //this is to display the dates as the days go by 
                            document.write('<li><a href="#" title="' + j + '" data-value="' + j + '"' + addClass + '>' + j + '</a></li>');
                        }
                    </script>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>
    

</body>

</html>