<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <title>Simply Pet home page</title>
    <meta name="description" content="Simply Pet landing page">
    <meta name="author" content="GS Group">

    <meta property="og:title" content="Simply Pet">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Simply Pet, everything your pet needs">
 <!-- <meta property="og:image" content="image.png"> -->

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="../style/main.css">

</head>

<body>
   <h1>Hello my name is The Omar</h1>
   <p>Zofia has added this line of text</p>
    
</body>

</html>