<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>Simply Pet home page</title>
  <meta name="description" content="Simply Pet landing page">
  <meta name="author" content="GS Group">

  <meta property="og:title" content="Simply Pet">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Simply Pet, everything your pet needs">
 <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="icon" href="../img/logo.svg">
  <link rel="icon" href="../img/logo.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="../style/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="../js/functions.js"></script>

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:wght@300&family=Spectral:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Georama:wght@300;500&family=Prompt:wght@300&family=Spectral:wght@500&display=swap" rel="stylesheet">

</head>

<body>
  <!--Top Navigator-->
  <header>
    <div id="brand"><img src="../img/logo.svg" class="logo"><h1 class = "brand-h1">Simply Pet</h1></div>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="petpassport.html">Pet Passport</a></li>
        <li><a href="/about">Appointments</a></li>
        <li><a href="pettracker.html">Pet Tracker</a></li>
        <li id="login"><a href="/login">Login</a></li>
        <li id="signup"><a href="/signup">Signup</a></li>
      </ul>
    </nav>
    <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <ul class="mobile-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="petpassport.html">Pet Passport</a></li>
        <li><a href="/about">Appointments</a></li>
        <li><a href="pettracker.html">Pet Tracker</a></li>
        <li id="login"><a href="/login">Login</a></li>
        <li id="signup"><a href="/signup">Signup</a></li>
      </ul>
    </div>
  </header>


  <!-- Contents of the page -->
  <div class="top-row main-content">

    <div class="top-column main-text">
      <h2 style="font-size:4rem"> On-demand <h2>
          <h3 class="h3-main-page">Online vet appointments.</h3>
          Simply Pet connects pet owners to thousands of licenced veterinary surgeons & nurses ready to provide the best
          online vet services through video chat appointments 24/7.

          </p>
    </div>
    <div class="top-column">
      <span class="top-bg-img"></span>
      <!-- <img id="slide" src="none" class="slidePic" alt="Social media logo Image slide"> -->
    </div>

  </div>

  <!-- Services tab -->
  <div class="services">
    <h2 id="service-heading" class="h3-main-page">Services</h2>
    <div class="row">
      <div class="column zoom">
          <img src="../img/appointment.jpeg" id="service-pic">
          <h3 class="centered-text h3-main-page" id="service-h3">Appointments</h3>
        <h3 class="centered-text service-subtitle"> 
          Book online appointments within the click of a button
        </h3>
        <p class="centered-text" id="services-text"> 
          Our system allows previous users to easily book their appointments effortlessly. 
        </p>
      </div>
      <div class="column zoom">
        <img src="../img/passport.jpeg" id="service-pic">
          <h3 class="centered-text h3-main-page" id="service-h3">Pet Passport</h3>
          
        <h3 class="centered-text service-subtitle"> 
          Saving the hassle and stress of looking for missing information
        </h3>
        <p class="centered-text " id="services-text"> 
          We are able to store and display information about your pets health history. Vaccines and health conditions
          of your pet displayed to you within seconds.
        </p>
      </div>
      <div class="column zoom">
        <img src="../img/petLocation.jpeg" id="service-pic">
          <h3 class="centered-text h3-main-page " id="service-h3">Pet Location</h3>
         
  
        <h3 class="centered-text service-subtitle" > 
          Never worry or stress where your pet is wondering about
        </h3>
        <p class="centered-text" id="services-text"> 
          With our pet location feature you can see where your pet is roaming about! Just add collar information
          and it is ready to go! hello
        </p>
      </div>
      </div>
    </div>
    <div>
      <section class="home-testimonial">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center testimonial-pos">
                <div class="col-md-12 pt-4 d-flex justify-content-center">
                    <h3>Testimonials</h3>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <h2>Explore our users experience</h2>
                </div>
            </div>
            <section class="home-testimonial-bottom">
                <div class="container testimonial-inner">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-4 style-3">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white" >
                                    <div class="tour-text color-grey-3 text-center">“Our family has lives outside the city. Bringing pets to the vet was very time consuming. This sorted out our problem!”</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/6625914/pexels-photo-6625914.jpeg" alt=""></div>
                                    <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                    <div class="link-position d-flex justify-content-center">Client</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 style-3">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">“My cat James was getting sick after eating food, I had booked an appointment and the veterinary gave James what he needed”</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                    <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                    <div class="link-position d-flex justify-content-center">Client</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 style-3">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">“My puppy Fenton wasn't eating or drinking water, I was quickly able to get booked in and get the situation sorted”</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                    <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                    <div class="link-position d-flex justify-content-center">Client</div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
    </section>
    </div>
  </div>


  


  <!--Script Calling-->
  <script src="../js/functions.js"></script>

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>