<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>Simply Pet home page</title>
  <meta name="description" content="Simply Pet landing page">
  <meta name="author" content="GS Group">

  <meta property="og:title" content="Simply Pet">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Simply Pet, everything your pet needs">
  <!-- <meta property="og:image" content="image.png"> -->

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="../style/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="../js/functions.js"></script>
  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
  
  <header>
    <div id="brand"><img src="../img/logo.svg" class="logo"></div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/products">My Pets</a></li>
        <li><a href="/about">Appointments</a></li>
        <li><a href="/about">Pet Tracker</a></li>
      </ul>
    </nav>
    <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <ul class="mobile-menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/products">My Pets</a></li>
        <li><a href="/about">Appointments</a></li>
        <li><a href="/about">Pet Tracker</a></li>
  
      </ul>
    </div>
  </header>
  
  <div class="main-contnent">

  </div>
  <script src="../js/functions.js"></script>


</body>

</html>