<%- include('../components/head') %>

<body>
    <!--Top Navigator-->
    <%- include('../components/header') %>
    <!-- CONTENT HERE -->
    <%- include('../components/scriptsEnd') %>

</body>

</html>