<%- include('../components/head') %>

<body>
  <!-- <div class = "background-div"> -->
  <!--Top Navigator-->
  <% let sessionStatus = loginStatus %>
  <%- include('../components/header', {loggedin: sessionStatus})%>

  <!-- Page title section -->
  <div class="intro" title="Pet Passport">
    <h3 class="h3-main-page">Pet Passport</h3>
  </div>
  </div>


  <div class="pet-information">
    <h1 style="font-size: x-large; color: white; margin-top:5px; margin-left: 10px;">Select your pet to view their
      profile:</h1>
    <div class="row">
      <div class="id-card-column" onclick="show('section1')">
        <div class="id-card-image">
          <img src="../img/dogprofilepicture.jpg" alt="dog" class="id-card-image">
          <ul class="id-card-text">
            <li style="transform: none; transition: none;">Jeff Jones</li>
            <li style="transform: none; transition: none;">16.12.2016</li>
            <li style="transform: none; transition: none;">5</li>
            <li style="transform: none; transition: none;">Golden Retriever</li>
            <li style="transform: none; transition: none;">Vaccines up to date</li>
          </ul>
          <p class="id-card-number">ID: #555fh5hg52f1fdf7228f8d3</p>
        </div>
      </div>
      <div class="id-card-column" onclick="show('section2')">
        <div class="id-card-image">
          <img src="../img/catprofilepicture.jpg" alt="cat" class="id-card-image">
          <ul class="id-card-text">
            <li style="transform: none; transition: none;">Kitty Smith</li>
            <li style="transform: none; transition: none;">06.08.2019</li>
            <li style="transform: none; transition: none;">2</li>
            <li style="transform: none; transition: none;">Toyger</li>
            <li style="transform: none; transition: none;">Due for vaccine</li>
          </ul>
          <p class="id-card-number">ID: #555fh5hg52f1fdf8228f8d3</p>
        </div>
      </div>
      <div class="id-card-column" onclick="show('section3')">
        <img src="../img/add-icon.png" alt="add icon" class="id-card-add">
        <p class="id-card-add-text">Add New Pet</p>
      </div>
    </div>
  </div>
  <div id="section1" style="display:block;">
    <div class="row" style="background-image: url('../img/pawprint-lighter.jpg');">
      <div class="column2x2">
        <img src="../img/dogprofilepicture.jpg" alt="pet picture" class="profile-picture">
      </div>
      <div class="column2x2">
        <div class="pet-info-container">
          <h2 class="pet-info-text">Pet Name: </h2>
          <p class="pet-info-text"> Jeff Jones</p>
          <div class="row">
            <h2 class="pet-info-text">Birthday: </h2>
            <p class="pet-info-text"> 16.12.2016</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Age: </h2>
            <p class="pet-info-text"> 5</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Breed: </h2>
            <p class="pet-info-text"> Golden Retriever</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Vaccination Status: </h2>
            <p class="pet-info-text" style="color: green"> Up to date</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Last Appointment Date: </h2>
            <p class="pet-info-text"> 08.11.2020</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Microchip ID: </h2>
            <p class="pet-info-text"> 123456789123456</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Vet Practice: </h2>
            <p class="pet-info-text"> Sunny Banks Veterinary Practice</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Vet Name: </h2>
            <p class="pet-info-text"> Mary Smith</p>
          </div>
          <div class="row">
            <button class="book-apt-button">Book Appointment</button>
          </div>
        </div>
      </div>
      <div style="width:auto">
        <img src="../img/qr-code.png" alt="QR Code" class="qr-code">
      </div>
    </div>
  </div>
  </div>
  <div id="section2" style="display:none">
    <div class="row" style="background-image: url('../img/pawprint-lighter.jpg');">
      <div class="column2x2">
        <img src="../img/catprofilepicture.jpg" alt="pet picture" class="profile-picture">
      </div>
      <div class="column2x2">
        <div class="pet-info-container">
          <h2 class="pet-info-text">Pet Name: </h2>
          <p class="pet-info-text"> Kitty Smith</p>
          <div class="row">
            <h2 class="pet-info-text">Birthday: </h2>
            <p class="pet-info-text"> 06.08.2020</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Age: </h2>
            <p class="pet-info-text"> 2</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Breed: </h2>
            <p class="pet-info-text"> Toyger</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Vaccination Status: </h2>
            <p class="pet-info-text" style="color: red"> Due for vaccine</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Last Appointment Date: </h2>
            <p class="pet-info-text"> 08.11.2020</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Microchip ID: </h2>
            <p class="pet-info-text"> 123456789123456</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Vet Practice: </h2>
            <p class="pet-info-text"> Sunny Banks Veterinary Practice</p>
          </div>
          <div class="row">
            <h2 class="pet-info-text">Vet Name: </h2>
            <p class="pet-info-text"> Mary Smith</p>
          </div>
          <div class="row">
            <button class="book-apt-button">Book Appointment</button>
          </div>
        </div>
      </div>
      <div style="width:auto">
        <img src="../img/qr-code.png" alt="QR Code" class="qr-code">
      </div>
    </div>
  </div>
  </div>
  </div>
  <form action="/addPet" method="post">
    <div id="section3" style="display:none; background-image: url('../img/pawprint-lighter.jpg');">
      <div class="row" style="background-image: url('../img/pawprint-lighter.jpg');">
        <div class="column2x2">
          <img src="../img/addimage.png" alt="add pet picture" class="add-profile-picture">
        </div>
        <div class="column2x2">
          <div class="pet-info-container">
            <h2 class="pet-info-text">Pet Name: </h2>
            <input type="text" id="petname" name="petname">
            <div class="row">
              <h2 class="pet-info-text">Age: </h2>
              <input type="number" id="petage" name="petage" style="width: 15%">
            </div>
            <div class="row">
              <h2 class="pet-info-text">Pet Type: </h2>
              <input type="text" id="pettype" name="pettype">
            </div>
            <div class="row">
              <h2 class="pet-info-text">Breed: </h2>
              <input type="text" id="petbreed" name="petbreed">
            </div>
            <div class="row">
              <h2 class="pet-info-text">Vaccination Status: </h2>
              <select id="vacstat" name="vacstat">
                <option value="true">Up to date</option>
                <option value="false">Due for vaccine</option>
              </select>
            </div>
            <div class="row">
              <h2 class="pet-info-text">Last Appointment Date: </h2>
              <input type="date" id="lastaptdate" name="lastaptdate">
            </div>
            <div class="row">
              <h2 class="pet-info-text">Vet Practice: </h2>
              <input type="text" id="petvet" name="petvet">
            </div>
            <div class="row">
              <h2 class="pet-info-text">Vet Name: </h2>
              <input type="text" id="petvetname" name="petvetname">
            </div>
            <div class="row">
              <input type="submit" value="Submit">
            </div>
          </div>
        </div>
  </form>
  <div style="width:auto">
    <img src="../img/generateqr.svg" alt="QR Code" class="qr-code">
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>


  <%- include('../components/scriptsEnd') %>
  <!-- <%- include('../components/footer')  %> -->
</body>

</html>