<%- include('../components/head') %>

<body>

  <%- include('../components/header') %>

  <!-- Page title section -->
  <div class="intro" title="Pet ">
    <h1>Pet Tracker</h1>
  </div>
  </div>

  <head>
    <title>Add Map</title>

    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = {
          lat: 51.5072,
          lng: 0.1276
        };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
  </head>

  <body>
    <h3>Google Tracker</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRymAdsn9XTL0lQG3Zyvcej8PJ2jMaGzg&callback=initMap&libraries=&v=weekly"
      async></script>
    <div class="row" style="background-image: url('../img/pawprint-lighter.jpg');">

      <div class="column4x4">
        <div class="pet-info-container">

          <div class="row">
            <h2 class="pet-info-text">Microchip ID: </h2>
            <input type="number" id="micid" name="micid">

            <div class="row">
              <button class="book-apt-button">Search</button>
            </div>
          </div>
        </div>

        <%- include('../components/scriptsEnd') %>
  </body>

  </html>