<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>Simply Pet home page</title>
  <meta name="description" content="Simply Pet landing page">
  <meta name="author" content="GS Group">

  <meta property="og:title" content="Simply Pet">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Simply Pet, everything your pet needs">
  <!-- <meta property="og:image" content="image.png"> -->

  <link rel="icon" href="../img/logo.svg">
  <link rel="icon" href="../img/logo.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="../style/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="../js/functions.js"></script>

  <body>
    <!--Top Navigator-->
    <header>
      <div id="brand"><img src="../img/logo.svg" class="logo"><h1 class = "brand-h1">Simply Pet</h1></div>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="petpassport.html">Pet Passport</a></li>
          <li><a href="apps.html">Appointments</a></li>
          <li><a href="pettracker.html">Pet Tracker</a></li>
          <li id="login"><a href="/login">Login</a></li>
          <li id="signup"><a href="/signup">Signup</a></li>
        </ul>
      </nav>
      <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <ul class="mobile-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="petpassport.html">Pet Passport</a></li>
          <li><a href="apps.html">Appointments</a></li>
          <li><a href="pettracker.html">Pet Tracker</a></li>
          <li id="login"><a href="/login">Login</a></li>
          <li id="signup"><a href="/signup">Signup</a></li>
        </ul>
      </div>
    </header>

    <!-- Page title section -->
    <div class="intro" title="Pet ">
        <h1>Pet Tracker</h1>
    </div>
    </div>

    <head>
      <title>Add Map</title>
      
      <script>
        // Initialize and add the map
        function initMap() {
          // The location of Uluru
          const uluru = { lat: 51.5072, lng: 0.1276 };
          // The map, centered at Uluru
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: uluru,
          });
          // The marker, positioned at Uluru
          const marker = new google.maps.Marker({
            position: uluru,
            map: map,
          });
        }
      </script>
    </head>
    <body>
      <h3>Google Tracker</h3>
      <!--The div element for the map -->
      <div id="map"></div>
  
      <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRymAdsn9XTL0lQG3Zyvcej8PJ2jMaGzg&callback=initMap&libraries=&v=weekly"
        async
      ></script>
      <div class="row" style="background-image: url('../img/pawprint-lighter.jpg');">
    
        <div class="column4x4">
          <div class="pet-info-container">
            
              <div class="row">
                <h2 class="pet-info-text">Microchip ID: </h2>
                <input type="number" id="micid" name="micid">
              
              <div class="row">
                <button class="book-apt-button">Search</button>
              </div>
            </div>
          </div>
</html>


